@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

body{
    margin: 0;
}
.heading{

    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    box-shadow: 0 4px 2px -2px rgb(218, 218, 218);
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.name{
    
    font-weight: 300;
    font-size: 36px;
}

.home1,
.cv1,
.projetos{

    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
    gap: 80px;
    color: black;
    font-weight: 500;
    border: 1px rgb(170, 170, 170) solid;
    padding: 8px;
    border-radius: 10px;
    
}

.home1:hover,
.cv1:hover,
.projetos:hover{

    border: 1px rgb(92, 92, 92) solid;
}


.container{

display: flex;
justify-content: center;
}


.home{
    
    margin-top: 130px;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items:flex-start;
    width: 900px;
    box-shadow: 0 0px 1px 2px rgb(240, 240, 240);
    

}

.right-elements{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.me{

    height: 200px;
    margin-right: 60px;
    border-radius: 50%;
}

.introducao{

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px;
    

}

.oi{
    font-size: 22px;
}

.container-2,
.projetos-all{
    display: flex;
    justify-content: center;
}

.projects,
.project-1{


    box-shadow: 0 0px 1px 2px rgb(240, 240, 240);
    width: 900px;
    margin-top: 180px;
    padding: 20px;
    padding-top: 0;
}

.project-container,
.project-container-1{

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.projects-header{

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
}

.projects-p,
.projects-p-1{



    font-family:'Roboto', sans-serif;
    padding-left: 65px;
    padding-right: 65px;
    letter-spacing: 0.3px;
}


.project-1{

    margin: 25px;
    padding-top: 5px ;
}

.img-1{


    border-radius: 25px;
}

.img-wrap{

    position: relative;
}
.project-name,
.project-description,
.project-button{

    position: absolute;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.project-name{

    
    top: 2%;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 24px;
}

.project-description{

    left: 50%;
    transform: translateX(-50%); 
    top: 30%;
    font-size: 18px;
}

.project-button{

    left: 50%;
    transform: translateX(-50%); 
    top: 70%;
    font-size: 14px;
    background-color: black;
    border: 1px solid white;
    border-radius: 100%;
    width: 3vh;
    height: 3vh;
}

@media only screen and (max-width: 740px) {

    .name {
        display:none;
    }

    .home1, .cv1, .projetos {

        margin-left: 20px;
        margin-right: 2vh;
        font-size: 16px;
        
    }

    .me{
        height:120px;
    }

    .home {

        width: none;
        text-align: center;
    }

    .introducao{

        width: 300px;
    }

    .img-1 {

        width: 300px;
    }

    .left-elements {

        display:none;
    }

    .heading {
    }


    .projects-p, .projects-p-1 {

        padding-left: 10px;
        padding-right: 10px;
    }
    
    .project-1 {

        margin-top: 25px;
    }

    .project-description {

        font-size: 14px;
    }

    .project-name {

        font-size: 16px;
    }

    .project-button{

        top:80%;
    }
}

@media only screen and (max-width: 896px) and (min-width:740px) {
    
}